<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work-glee</title>
</head>
<body>

<p action="/my" method="post">
    <p>Titulo <input type="text" id="Titulo" name="user_name"></p>
    <p>Salario <input type="number" id="salario" name="user_name"></p>
    <p>Ubicacion <input type="text" id="Ubicacion" name="user_name"></p>
    <p>Fecha limite <input type="date" id="Fechalimite" name="user_name"></p>
    <p>Visibilidad <input type="checkbox" id="Visibilidad"></p>
</form>

</body>
</html>