<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

    today = yyyy+'-'+mm+'-'+dd;
    let d = new Date();
    fecha = new String (d.getFullYear() + '-'+ d.getMonth() +'-' + d.getDay())
    ;
document.getElementById("fechalimite").setAttribute("min", today);

</script>

</head>
<body>



<form action="" method="post">
    <ul>
        <li>
            <label for="name">Titulo oferta:</label>
            <input type="text" id="name" >
        </li>
        <li>
            <label for="salario">Salario:</label>
            <input type="number" id="salario" min="0" max="999999" >
        </li>
        <li>
        <label for="ubi">Ubicacion:</label>
        <input type="text" id="ubi" >
        </li>
        <li>
            <label for="fechalimite">Fecha limite:</label>
            <input type="date"  id="fechalimite"
                   min=2018-12-31 max="2021-12-31"></textarea>
        </li>
        <li>
            <label for="visibilidad">Visible:</label>
           <input type="checkbox" id="visibilidad">
        </li>
    </ul>
    <button type="submit">Envíe su mensaje</button>
</form>


</body>
</html>