<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">

        function mostrarReferencia(){
        if (document.registrar.r1[0].checked == true) {
             document.getElementById('des2').style.display='block';
             document.getElementById('des1').style.display='none';

        }else if (document.registrar.r1[1].checked == true){
             document.getElementById('des1').style.display='block';
             document.getElementById('des2').style.display='none';
        }
        }
    </script>

    <script language="JavaScript">

         function addUser() {

            var formData = {};
            formData['nombre'] = $('#nombre').val();
            formData['apellidos'] = $('#apellidos').val();
            formData['email'] = $('#email').val();
            formData['contraseña'] = $('#contraseña').val();
            nacimiento
             if (document.registrar.r1[0].checked == true) {
                formData['perfil'] = "USER"
                formData['nacimiento'] = $('#nacimiento').val();
             }else if (document.registrar.r1[1].checked == true){
                formData['contraseña'] = $('#contraseña').val();
             }

            // Para el director hay que enviar la URI completa al objeto existente:
       //formData['empleados'] = 'http://localhost:8080/empleados/'+$('#empleados').val();
            $.ajax({
                type: "POST",
                url: 'http://localhost:8080/empleados/',
                dataType: 'json',
                async: false,
                // El objeto hay que convertirlo a texto
                data: JSON.stringify(formData),
                contentType: 'application/json'

            });
                location.href = "menu";
        }



    </script>

</head>
<body>
<h1>WORK-GLEE</h1>

<div id="sign_in">
    <h2>SIGN IN</h2>
    <form id="iniciar" action="javascript:addPeli();">
        <p>Email <input name="Email" id="emailr" type="text"/></p>
        <p>Password <input name="Password" id="password" type="text"/></p>
        <input type="submit"/>
    </form>
</div>
<div id="sign_up">
    <h2>SIGN UP</h2>
    <form id="registrar" name="registrar" action="javascript:addUser();">
        <p>Nombre <input name="Nombre" id="nombre" type="text"/></p>
        <p>Apellidos <input name="apellidos" id="apellidos" type="text"/></p>
        <p>Email <input name="Email" id="email" type="text"/></p>
        <p>Password <input name="Contraseña" id="contraseña" type="text"/></p>
        <p>Tipo:
            Buscador <input type="radio"  name="r1" value="Buscador" id="Conocido_0" onclick="mostrarReferencia();" />
            Empresa <input type="radio" name="r1" value="Empresa"  id="Conocido_1" onclick="mostrarReferencia();" />
        </p>

        <div id="des1" style="display:none;">
            <p>Compañia: <input type="text" name="Compañia" id="compañia" class="input" /></p>
            <p>Descripcion: <input type="text" name="Descripcion" id="descripcion" class="input" /></p>
            <p>Ciudad: <input type="text" name="Ciudad" id="ciudad" class="input" /></p>
            <p>Provincia: <input type="text" name="Provincia" id="provincia" class="input" /></p>
        </div>
        <div id="des2" style="display:none;">
            <p>Fecha nacimiento: <input type="date" name="nacimiento" id="nacimiento" class="input" /></p>
        </div>

        <input type="submit"/>
    </form>
</div>

</body>
</html>